<form action="/actualizarinstructor/{{cat.0}}" method="POST">
<center>
    <table>
    
    </tr> 
    <!--Fila 1 >-->
    <tr>
      <td>  <label for="id_instructor">Documento Identidad: </label></td>
      <td>  <input type="text" id="id_instructor" name="id_instructor" value="{{cat.0}}" /><br></td>
    </tr> 
    
    <!--Fila 2 >-->
    <tr>
      <td>  <label for="nom_instructor">Nombres: </label></td>
      <td>  <input type="text" id="nom_instructor" name="nom_instructor" value="{{cat.1}}" /><br></td>
    </tr> 
  
    <!--Fila 3 >-->
    <tr>
      <td>  <label for="apell_instructor">Apellidos: </label></td>
      <td>  <input type="text" id="apell_instructor" name="apell_instructor" value="{{cat.2}}" /><br></td>
    </tr> 
    
    <!--Fila 4 >-->
    <tr>
      <td>  <label for="edad_instructor">edad: </label></td>
      <td>  <input type="text" id="edad_instructor" name="edad_instructor" value="{{cat.3}}" /><br></td>
    </tr> 
    
    <!--Fila 5 >-->
    <tr>
      <td>  <label for="cel_instructor">Celular: </label></td>
      <td>  <input type="text" id="cel_instructor" name="cel_instructor" value="{{cat.4}}" /><br></td>
    </tr> 
    
    <!--Fila 7 >-->
    <tr>
      <td>  <label for="correo_instructor">correo: </label></td>
      <td>  <input type="text" id="correo_instructor" name="correo_instructor" value="{{cat.5}}" /><br></td>
    </tr>
    
    <!--Fila 8 >-->
    <tr>
      <td>  <label for="exp_instructor">experiencia: </label></td>
      <td>  <input type="text" id="exp_instructor" name="exp_instructor" value="{{cat.6}}" /><br></td>
    </tr>
    
    <!--Fila 9 >-->
    <tr>
      <td>  <label for="id_cliente">id_cliente: </label></td>
      <td>  <input type="text" id="id_cliente" name="id_cliente" value"{{cat.7}}" /><br></td>
    </tr>
    
    
    </table>
  
    
        <input type="submit" id="boton_registrar" name="boton_registrar" value="Editar" />
    </form>

  </center>
    