
{% extends "layout.html" %}  <!--Coloca el codigo del archivo layout.html-->

{% block content %}  <!--Bloque de contenido: Imagenes, texto propio de la pagina-->

<!--maquina-->
<br>
<form action="/agregar_maquina" method="post">
<center>
  <br>
<table>

<!--Fila 1 >-->
<tr>
  <td>  <label for="id_maquina">id_maquina: </label></td>
  <td>  <input type="int" id="id_maquina" name="id_maquina" /><br></td>
</tr> 

<!--Fila 2 >-->
<tr>
    <td>  <label for="nom_maquina">nombre: </label></td>
    <td>  <input type="text" id="nom_maquina" name="nom_maquina" /><br></td>
</tr> 

<!--Fila 3 >-->
<tr>
    <td>  <label for="numserie_maquina ">numero de serie: </label></td>
    <td>  <input type="text" id="numserie_maquina " name="numserie_maquina" /><br></td>
</tr>

<!--Fila 4 >-->
<tr>
  <td>  <label for="modelo_maquina ">modelo: </label></td>
  <td>  <input type="text" id="modelo_maquina " name="modelo_maquina" /><br></td>
</tr>

<!--Fila 5 >-->
<tr>
  <td>  <label for="peso_maquina ">peso: </label></td>
  <td>  <input type="text" id="peso_maquina " name="peso_maquina" /><br></td>
</tr>

<!--Fila 6 >-->
<tr>
  <td>  <label for="utilidad_maquina ">utilidad: </label></td>
  <td>  <input type="text" id="utilidad_maquina " name="utilidad_maquina" /><br></td>
</tr>

</table>
<br>
    <input type="submit" id="boton_registrar" name="boton_registrar" value="Registrar" />
</center>
<br>
</form>

<br>
<br>
<br>
<center>
<table class="lista">
  <br>
  <thead>
  <tr>
    <td class="resultado1">id_maquina</td>
    <td class="resultado1">nom_maquina</td>
    <td class="resultado1">numserie_maquina</td>
    <td class="resultado1">modelo_maquina</td>
    <td class="resultado1">peso_maquina</td>
    <td class="resultado1">utilidad_maquina</td>
    
  </tr>
  </thead>
</center>
  <tbody>
    {% for maquina in maquina %}
      <tr>
        <td class="resultado2">{{maquina.0}}</td>
        <td class="resultado2">{{maquina.1}}</td>
        <td class="resultado2">{{maquina.2}}</td>
        <td class="resultado2">{{maquina.3}}</td>
        <td class="resultado2">{{maquina.4}}</td>
        <td class="resultado2">{{maquina.5}}</td>
        
        <td class="resultado2">
  
        <a class="editar-button" href="/editarmaquina/{{maquina.0}}">Editar</a>
        <br>
        <a class="eliminar-button" href="/borrarmaquina/{{maquina.0}}">Eliminar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}  <!--Bloque de contenido-->