{% extends "layout.html" %}  <!--Coloca el codigo del archivo layout.html-->

{% block content %}  <!--Bloque de contenido: Imagenes, texto propio de la pagina-->
<style>
.fondo{
    background-image: url(/static/css/img/18767.jpg)
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
</style>
<body class="fondo">
<br><br><br>
<center><H3>PITBULL GYM</H3></center>
<center><strong><H5>Centro Deportivo</H5></strong></center>

<center><strong><H6> Potencia tus habilidades como deportista</H6></strong></center>



<br>


{% endblock %}  <!--Bloque de contenido-->